@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

nav {
  background-color: #fff;
  padding: 0 !important;
  height: 60px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
}
a:hover {
  text-decoration: none;
}
body {
  background: #fff;
  font-family: "Arimo", sans-serif;
}
.header-container {
  display: flex;
  width: 100%;
}
.left_nav {
  width: 60%;
}
.navbar-nav {
  padding-top: 26px;
  margin-left: 100px;
}
.settings {
  padding-top: 16px;
  margin-left: 30px;
}
.navbar-nav li {
  margin-right: 30px;
}
.navbar-nav li a,
.settings li a {
  color: rgba(27, 26, 26, 0.8);
  font-size: 16px;
}
.navbar-nav li a i,
.settings li a i {
  margin-right: 10px;
  font-size: 20px;
}
nav .row {
  width: 100%;
}

.settings li {
  display: inline-block;
  margin-right: 20px;
}
.settings li img {
  width: 50px;
}

#dash_body {
  width: 100%;
  display: flex;
}
.right_sidebar {
  width: 8%;
  background: #fff;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.main_icon {
  padding: 0;
  text-align: center;
  margin-top: 50px;
}
.main_icon li {
  list-style: none;
  margin: 30px 0;
}
.main_icon li.active a {
  background-color: #f5c907;
  padding: 5px 25px;
  color: #fff;
}

.main_icon li a {
  font-size: 26px;
  color: rgb(49, 48, 48);
}
.profile_body {
  width: 20%;
  background: #fff;
  border: 1px solid #000;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.profile_control {
  padding: 0;
  margin: 25px 0;
}
.profile_control li {
  display: inline-block;
  margin: 0 10px;
}
.profile_control li a {
  color: rgb(49, 48, 48);
}

.profile_body h4 {
  font-size: 22px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: capitalize;
}
.test-config {
  font-size: 18px;
  color: #f5c907;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 3px;
}
.nav {
  margin-top: 20px;
  padding: 0;
}
.nav li:nth-child(1) {
  list-style: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.nav li {
  list-style: none;
  border-bottom: 1px solid #000;
  padding: 15px 15px;
  width: 100%;
}
.nav li:nth-child(6) {
  border: 0;
}
.nav li button {
  color: rgb(66, 65, 65);
  font-size: 17px;
  font-weight: 500;
  background: none;
  border: none;
  width: 100%;
  text-align: inherit;
}

.nav li button:focus,
.nav li button:hover {
  color: #f5c907;
  outline: none;
}
.nav li button:focus i,
.nav li button:hover i {
  color: #f5c907 !important;
}

nav {
  font-size: 20px;
  margin-right: 10px;
}
.nav li button i:nth-child(1) {
  color: rgb(66, 65, 65);
  font-size: 20px;
  float: left;
  margin-top: 2px;
  padding-right: 20px;
}
.nav li button.active {
  color: #f5c907 !important;
}
.nav li button.active i {
  color: #f5c907 !important;
}
.nav li button i:nth-child(2) {
  font-size: 12px;
  float: right;
  margin-top: 9px;
}
.left_sidebar {
  width: 72%;
  margin-top: 25px;
  padding: 0 25px;
}
.tab-content h4 {
  margin-bottom: 30px;
}
.table {
  background: #fff;
  width: 100%;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
}
.table th,
.table td {
  border: none;
}
.table tr {
  border-bottom: 1px solid rgb(155, 154, 154);
}

tbody tr td:nth-child(7) {
  position: relative;
}
tbody tr td:nth-child(7) i {
  margin-left: 20px;
}
.action_list {
  position: absolute;
  background: #fff;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
  padding: 0;
  left: -20px;
  right: -60px;
  padding: 10px 0;
  display: none;
  border: 1px solid #000;
  z-index: 1;
}
.action_list li {
  list-style: none;
  margin: 0 10px;
}
.action_list li a {
  font-size: 14px;
}
tbody tr td:nth-child(7):hover .action_list {
  display: block;
}
.activity_list {
  margin-top: 20px;
}
.activity_list li {
  display: inline-block;
  background-color: #f5c907;
  padding: 5px 15px;
  border-radius: 4px;
  margin: 0 10px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
}
.activity_list li a {
  font-size: 18px;
  color: #fff;
}
.dd-option-image, .dd-selected-image{
  max-width: 35px!important;
 
}
.dd-option-text,.dd-selected-text{
  line-height: 0!important;
}
.dd-selected,.dd-option {
  background: #fff!important;
}
/*popup */
/* Styles for dialog window */
#activity h5{
  margin-top: 30px;
}
#small-dialog,#button-1 ,#button-2 {
  background: white;
  padding: 10px 30px;
  text-align: left;
  max-width: 1000px;
  margin: 40px auto;
  position: relative;
}
#button-1,#button-2{
  max-width: 800px;
  margin: -150px auto;
}
#small-dialog table {
  max-width: 90%;
  margin: 0 5%;
}
#small-dialog table td input {
  width: 70%;
}
.perso label{
   margin-top: 12px;
  font-weight: 500;
}
.perso select{
  width: 100%;
  border: solid 1px #ccc;
 
}
.action_tab{
  background-color: #f5c907;
  padding: 5px 15px;
  border: none;
  color: #fff;
  margin-top: 30px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
}
#button-1 h6,#button-2 h6{
  font-weight: 500;
  font-size: 25px;
}
/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);

  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
